<!DOCTYPE html>
<html lang="ja" ng-app="app">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title ng-controller='TitleCtrl'>Remember Tunes::{{path()}}</title>
    <link rel="stylesheet" type="text/css" href="bower_components/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/app.css">
  </head>

  <body>

    <div ng-controller="AppNaviCtrl">
      <ul class="nav nav-tabs" role="tablist">
        <li id="move-to-search" class="active" sibs><a ng-click="moveToSearch()">Search</a></li>
        <li id="move-to-starred" sibs><a ng-click="moveToStarred()">Starred</a></li>
      </ul>
    </div>

    <div ng-view></div>

    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="bower_components/angularLocalStorage/src/angularLocalStorage.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <script type="text/javascript" src="bower_components/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/directives/navi.js"></script>
    <script type="text/javascript" src="js/controllers/main.js"></script>
    <script type="text/javascript" src="js/controllers/navi.js"></script>
    <script type="text/javascript" src="js/controllers/title.js"></script>
    <script type="text/javascript" src="js/controllers/track.js"></script>
  </body>

</html>
